langchain==1.2.12
langchain-core==1.2.18
langchain-openai==1.1.11
langchain-text-splitters==1.1.1
langfuse==4.0.1
chromadb==1.5.5
pyTelegramBotAPI==4.32.0
python-dotenv==1.2.2
ddgs==9.11.3
tavily-python==0.7.23
